.App {
  height: 100vh;
  background-color: #131A28;
}

.block {
  height: 150px;
  width: 150px;
  background-size: cover;
  cursor: crosshair;
}

.mark1 {
  background-image: url('images/cross.png');
}

.mark2 {
  background-image: url('images/circle.png');
}

.winner {
  height: 100px;
  width: 470px;
  border: 5px solid white;
  background-size: cover;
  display: inline-block;
  margin-top: 20px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-family: monospace;
  font-weight: 700;
  color: white;
}

.margin-0 {
  margin-bottom: 0 !important;
}

.d-flex {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.jc-center {
  justify-content: center;
}

.b-bottom-right {
  border-right: 5px solid whitesmoke;
  border-bottom: 5px solid whitesmoke;
}

.b-bottom {
  border-bottom: 5px solid whitesmoke !important;
}

.b-right {
  border-right: 5px solid whitesmoke !important;
}

@media screen and (max-width: 480px) {
  .block {
    height: 100px;
    width: 100px;
  }

  h3 {
    margin-left: 20px !important;
  }

  body {
    background-color: #131A28;
  }

  .winner {
    width: 250px;
    margin-left: 30px;
  }

  .btn {
    margin-left: 120px !important;
  }
}

.margin-left {
  margin-left: 170px;
}

.btn {
  background-color: rgb(47, 109, 255);
  padding: 10px;
  font-size: 20px;
  color: whitesmoke;
  font-family: monospace;
  border: none;
  border-radius: 10px;
  margin-top: 5px;
  cursor: pointer;
}

h3 {
  margin-left: 80px;
}